In [1]:
from wilcoxon.sheets import *
import pandas as pd

In [6]:
df = getGeo("Malls Alternative")

In [7]:
df[["Name","Station","Label","Latitude","Longitude","Stores","Floors","Halal","Area","Services","Flow","Date"]]

KeyError: "['Flow'] not in index"

In [5]:
df

,Name,Latitude,Longitude,Distance,Stores,Halal,Floors,Area,Date,Alt,...,Balanced 2,Balanced 3,Balanced 4,Balanced Rate,Score,Rank,Rank Diff,Assist Value,Rank No Assist,Assist Value 2
0,Century Square,1.352361,103.943750,172.555603,135,96,6,205000,1995,15.745492,...,120.000000,104.300619,102.314797,109.698947,109.698947,36,84.0,0.000000,34,-2
1,Tampines Mall,1.352500,103.944722,66.790810,160,95,6,377437,1995,15.498680,...,118.500000,99.305927,99.891202,107.475951,107.475951,53,65.5,0.000000,50,-3
2,Our Tampines Hub,1.352900,103.941000,233.513463,130,95,7,300000,2017,15.791818,...,118.500000,70.846602,108.000000,101.966913,103.975185,79,39.5,2.008272,86,7
3,Paya Lebar Quarter,1.317500,103.894000,124.711909,200,92,7,340000,2019,9.802988,...,117.000000,85.591338,100.436189,102.377867,106.033400,68,49.0,3.655533,85,17
4,Jem,1.333200,103.743380,85.096456,241,87,9,892000,2013,17.200141,...,118.000000,113.073297,100.077340,109.890473,112.417855,21,97.0,2.527382,32,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Canberra Plaza,1.443257,103.830462,40.883023,70,2,4,88000,2020,17.275442,...,118.560143,115.578482,117.166667,117.576323,117.576323,2,116.5,0.000000,2,0
116,Buangkok Square,1.384330,103.881620,723.994062,46,2,3,53000,2019,19.679415,...,114.463156,118.000000,117.056217,114.165899,114.374424,7,107.0,0.208525,8,1
117,Katong Shopping Centre,1.303900,103.898900,541.075433,300,2,7,90000,1973,4.809360,...,104.268713,110.394756,118.000000,110.226061,112.419546,20,84.0,2.193485,29,9
118,Le Quest,1.355800,103.741200,642.251208,49,1,4,45000,2020,29.367129,...,118.593364,116.428920,119.500000,115.082739,115.312054,4,114.5,0.229315,4,0
119,Viva Vista,1.279700,103.786100,557.260466,106,1,2,21054,2018,15.427531,...,111.194622,113.356213,120.000000,111.918949,113.189212,17,92.0,1.270263,17,0