In [19]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

meta.create_all(engine)

conn = engine.connect()

result = conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

s = students.select().where(students.c.id>2)
result = conn.execute(s)

for row in result:
    print (row)

2020-11-01 13:09:40,610 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-01 13:09:40,613 INFO sqlalchemy.engine.base.Engine ()
2020-11-01 13:09:40,615 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-01 13:09:40,616 INFO sqlalchemy.engine.base.Engine ()
2020-11-01 13:09:40,618 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")
2020-11-01 13:09:40,619 INFO sqlalchemy.engine.base.Engine ()
2020-11-01 13:09:40,623 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("students")
2020-11-01 13:09:40,652 INFO sqlalchemy.engine.base.Engine ()
2020-11-01 13:09:40,675 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2020-11-01 13:09:40,679 INFO sqlalchemy.engine.base.Engine ()
2020-11-01 13:09:40,688 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-01 13:09:40,700 INFO sqlalchemy.engine.base.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2020-11-01 13:09:40,703 INFO sqlalchemy.engine.base.Engine (('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2020-11-01 13:09:40,706 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-01 13:09:40,718 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id > ?
2020-11-01 13:09:40,720 INFO sqlalchemy.engine.base.Engine (2,)
(3, 'Abdul', 'Sattar')
(4, 'Priya', 'Rajhans')

In [17]:
from sqlalchemy import text
t = text("DROP TABLE students")
result = conn.execute(t)

2020-11-01 13:05:03,463 INFO sqlalchemy.engine.base.Engine DROP TABLE students
2020-11-01 13:05:03,466 INFO sqlalchemy.engine.base.Engine ()
2020-11-01 13:05:03,477 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
s = text("select students.name, students.lastname from students where students.name between :x and :y")
conn.execute(s, x = 'A', y = 'L').fetchall()

2020-11-01 13:09:48,610 INFO sqlalchemy.engine.base.Engine select students.name, students.lastname from students where students.name between ? and ?
2020-11-01 13:09:48,613 INFO sqlalchemy.engine.base.Engine ('A', 'L')

[('Komal', 'Bhandari'), ('Abdul', 'Sattar')]

In [23]:
result = conn.execute(students.select().where(students.c.name == 'Abdul'))
for r in result:
    print(r)

2020-11-01 13:11:37,211 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.name = ?
2020-11-01 13:11:37,215 INFO sqlalchemy.engine.base.Engine ('Abdul',)
(3, 'Abdul', 'Sattar')