Please upload your submission into the google forms with the file named in the format of fullname_role.ipynb. For instance, JohnTan_JuniorAnalyst.ipynb

## Question 1

a. Write a function that generates a list of prime numbers, up till the Nth prime number.

In [ ]:
def solution_1a(N):
    '''
    Type your answer below
    '''
    
    
    pass

b. Write a function that takes in an integer, N, and returns the Nth character in a string of all prime numbers concatenated together (i.e "23571113...").
<br>
<br>
<b>NOTE:</b> The string of prime numbers is not provided. <b>DO NOT HARDCODE</b> the string of prime numbers.

In [ ]:
def solution_1b(N):
    '''
    Type your answer below
    '''
    
    
    pass

## Question 2

The dataset below contains movies from the IMDb database. The dataset is messy and has plenty of errors to be corrected. 
<br>
<br>
For this section, pick <b>any 2 </b>messy columns to clean. Some examples may include:
<ul>
  <li>Ensuring columns are in the right format for use cases, and are standardised across rows</li>
  <li>Dealing with NA values or blanks</li>
  <li>Ensuring that classes in each column are standardised</li>
</ul>
<br>
<b>NOTE:</b> Indicate clearly which 2 columns are being cleaned, and the steps taken. Points are awarded based on the impact of cleaning. No extra points are awarded for cleaning more than 2 columns.

In [ ]:
import pandas as pd

In [ ]:
df2 = pd.read_csv("junioranalyst_q2.csv", sep=";")

In [ ]:
df2.head()

,IMBD title ID,Original title,Release date,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,"Score,,,,"
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,"9.3,,,,"
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,"9.2,,,"
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,"9.,,"
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,35,783",1.098.714,"9,0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f,,"

## Question 3
The dataset below contains salaries of people in data-related careers.
<br>   
Using the dataset below, come up with <b> 2 interesting visualisations </b> and describe the key insights derived from them.

In [ ]:
df3 = pd.read_csv("junioranalyst_q3.csv")

In [ ]:
df3.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L